<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Your Schedule</h1>

    </div>
    <div class="col-12 mt-3">
      <%= week_calendar events: @schedules do |date, schedules| %>
        <%= date.day %>
      <% end %>
    </div>
  </div>
</div>
