<% content_for :title do %>
  AWS-and-Rails-Portfolio RakutenApiService
<% end %>

<% content_for :content do %>
  <h1>楽天市場商品情報</h1>

  <%= form_tag({ controller: 'products', action: 'upload_excel' }, multipart: true) do %>
    <label for="excel_file">エクセルファイルを選択:</label>
    <%= file_field_tag 'excel_file' %>
    <%= submit_tag 'アップロード' %>
  <% end %>
  
<% end %>